# TKT Git Ignore

# OS/Editor noise
.*
!.github
!.gitignore
*~
*.swp
*.notes

# Build Artifacts
*.run
*.tgz
*.xz
*.pkg
*.bak
*.tar.gz
*.pkg.*
*.old
*.files
*.myfrag
*sha256sum*

# Consolidated Directories (ignored as they are generated per build)
/src/
/pkg/
/logs/

# Legacy and Misc
kernel_updates
gnupg/
kernelconfig.new
minimal-modprobed.db
.idea/
